<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Your Account:<br></h1>
    <h2>Name:</h2>
    <label name="name"><%- name %></label>
    <h2>Email</h2>
    <label name="name"><%- email %></label>
    <h2>Phone</h2>
    <label name="name"><%- phone %></label>
    
    <button> <a href="/Questions">Take the test!</a><br></button>

    <p name="name">Previous Advice:<%- message %></p>

    <button> <a href="/logout">Log Out</a><br></button>
</body>
</html>