<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,500;1,600&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/f1afba96ea.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <title>Welling</title>
  <div class="page-wrapper">
    <div class="nav-wrapper">
      <div class="grad-bar"></div>
      <nav class="navbar active" id="imgi">
        <img src="assets/logo.png" alt="Company Logo" id="logo">
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="nav no-search ">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/login">Login/Signup</a></li>
          <li class="nav-item" style="padding-left: 30px;"><a href="#Questions">About</a></li>
          <li class="nav-item"><a href="/">Contact Us</a></li>
          <!-- <li class="nav-item"><a href="login.html">Login/Signup</a></li> -->

        </ul>
      </nav>
    </div>
    <section class="headline" id="headline">
      <div class="info">
        <h1>Need Advice?</h1>
        <p>We got you covered. With a simple set of Questions we might help you detect any health irregularity that you
          might not know about!</p>
      </div>

      <div id="video-container">
        <video id="video" loop autoplay muted>
          <source src="assets/herovideo.mp4" type="video/mp4">
        </video>
      </div>


    </section>
    <section class="Questions" id="Questions">

      <div id="video-container">
        <video id="video" loop autoplay muted>
          <source src="assets/questionvideo.mp4" type="video/mp4">
        </video>
       </div>
       <div class="info">
        <p>Our Welling, is a user-friendly web application that analyzes symptoms to suggest potential diseases and offers personalized ayurvedic remedies. Users input their symptoms through a short questionnaire, and the application provides relevant health insights and natural solutions for improved well-being.</p>
        <h2>Take you Basic Symptom Test to find out more below!</h2>
        <div class="click" id ="click">
          
          <a href="/Questions"><button class="bn632-hover bn22 bt"> Take Questionnaire now</button></a></div>
          
      </div>

    </section>
    <section class="footer" id="footer">

      <div id="video-container">
        <video id="video" loop autoplay muted>
          <source src="assets/footer.mp4" type="video/mp4">
        </video>
       </div>
       <div class="click" id ="click">
          
        <a href="#"><button class="bn632-hover bn22 bt"> <img src="assets/envelope-solid.svg" alt="mail" id="footer-icon"></button></a>
        <a href="#"><button class="bn632-hover bn22 bt"> <img src="assets/instagram.svg" alt="socialmedia" id="footer-icon"></button></a>
        <a href="#"><button class="bn632-hover bn22 bt"> <img src="assets/question-solid.svg" alt="queries" id="footer-icon"></button></a>
      </div>  
      <p>Contact us Above.</p>
      <h2>Thankyou for visiting us!</h2>
      <img src="assets/logo.png" alt="Company Logo" id="logo">
    </section>



  </div>
  <script src="index.js"></script>
</body>

</html>
