* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    background-color: #0d150c;
    color: #04fe85;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
.container {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

/* Style the form elements */
form ul.Q {
    list-style: none;
    padding: 0;
}

form ul.Q li {
    margin-bottom: 20px;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: azure;
    font-weight: 900;
    padding-top: 30px;
}

.choices label {
    display: block;
    margin-bottom: 5px;
    list-style: none;
}

.choices input[type="radio"] {
    margin-right: 5px; 
    display: none;  
}
li{
    list-style: none;
}
label{
    background-color: #47ec4a;
    color: rgb(12, 12, 12);
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    padding-top: 5px;
    font-size: small;
}
label:hover{
    background-color: #ceebcf;
}

.canvas{
    background-color: rgb(28, 244, 219);
    height: 300px;
    width: 200px;  
    top: 0;
    position: sticky;
}
/* submit button */
.bn632-hover {
    
    width: 110px;
    font-size: 16px;
    font-weight: 600;
    color: #0d150c;
    cursor: pointer;
    margin: 10px;
    height: 60px;
    width: 400px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .bn632-hover:hover {
    color: rgb(40, 125, 76);
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn22 {
    background-image: linear-gradient(
      to right,
      #b7e4d1,
      #21ee25,
      #04fe85,
      #19e784
    );
    box-shadow: 0 4px 15px 0 rgba(18, 131, 84, 0.75);
  }
  .btn{
    background-color: #366a31;
    color:#172423 ;
    border: none;
    font-size: smaller;
    border-radius: 5px;
  }
  

  @media only screen and (min-device-width: 280px) and (max-device-width: 800px) {
    
      
    .container {
        
        margin: 0 auto;
        padding: 8px;
        
    }
    
    /* Style the form elements */
    form ul.Q {
        list-style: none;
        padding: 0;
    }
    
    form ul.Q li {
        margin-bottom: 8px;
    }
    h1{
        font-size: medium;
    }
    
    h4 {
        font-size: 6px;
        margin-bottom: 5px;
        color: azure;
        font-weight: 700;
        padding-top: 10px;
    }
    
    .choices label {
        display: block;
        margin-bottom: 5px;
        list-style: none;
    }
    
    .choices input[type="radio"] {
        margin-right: 5px; 
        display: none;  
    }
    li{
        list-style: none;
    }
    label{
        background-color: #47ec4a;
        color: rgb(12, 12, 12);
        width:40%;
        height: 40%;
        text-align: center;
        border-radius: 20px;
        padding-top: 2px;
        font-size:5px;
    }
    label:hover{
        background-color: #ceebcf;
    }
    
    .canvas{
        background-color: rgb(28, 244, 219);
        height: 40%;
        width: 40%;  
        top: 0;
        position: sticky;
    }
    .bn632-hover {
    
        width: 40%;
        font-size: 7px;
        font-weight: 600;
        color: #0d150c;
        cursor: pointer;
        margin: 10px;
        height: 50%;
        width: 50%;
        text-align: center;
        border: none;
        background-size: 300% 100%;
        border-radius: 10px;
        moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      .btn{
       width: 70px;
       height: 20px;
       font-size: 5px;
       padding-bottom: 7px;
       background-color: #366a31;
       color:#172423 ;
      }
  }